body 	{ font-family: "Times New Roman";	 
		  color: #000000;					 
		  overflow: visible;				}
											 
h1		{ max-width: 100in;					 
		  font-size: 3em;					 
		  text-align: center;				 
		  overflow: visible;				}
											 
h2		{ max-width: 100in;					 
		  font-size: 2em;					 
		  overflow: visible;				 
		  text-align: center;				}
											 
p		{ max-width: 100in;					 
		  font-size: 1.3em;					 
		  text-align:center;				 
		  overflow: visible;				}
		  									 
footer	{ padding: 10px;					 
		  text-align: center;				}
		  									 
header	{ padding: 1px;					 
		  text-align: center;				}
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 
		  									 