body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

img {
	max-width: 300px;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

footer {
		padding: 10px;
		text-align: center;
}